<div class="jumbotron mt-5 px-5 py-3 bg-gray-300 shadow-2xl border-gray-900 rounded-md m-3">
    <h3 class="text-4xl text-center">{{ title }}</h3>
    
    <div class="flex flex-wrap justify-center container mx-auto">
        {% include "Coachs_Widget/coachs-loop.html.twig" %}
    </div>
</div>