
<div class="text-center jumbotron">
    <div class="coachs container-fluid helvetica">
        {% for coach in coachs %}
            {% include "Coachs_Widget/index-coach.html.twig" %}
        {% endfor %}
    </div>
</div>